@font-face {
    font-family: "Zilla Slab Highlight";
    src: url("/fonts/ZillaSlabHighlight-Regular.ttf");
}


@font-face {
    font-family: "Noto Sans Symbols";
    src: url("/fonts/NotoSansSymbols-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}

.font--montserrat {
    font-family: Montserrat !important;
}

@font-face {
    font-family: "Cutive Mono";
    src: url("/fonts/CutiveMono-Regular.ttf");
}

.font--cutive--mono {
    font-family: 'Cutive Mono' !important;
}

@font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-VariableFont_wght.ttf");
}

.font--outfit {
    font-family: Outfit !important;
}

@font-face {
    font-family: "Voltaire";
    src: url("/fonts/Voltaire-Regular.ttf");
}

@font-face {
    font-family: "Righteous";
    src: url("/fonts/Righteous-Regular.ttf");
}

.font--righteous {
    font-family: Righteous !important;
}

@font-face {
    font-family: "Share Tech";
    src: url("/fonts/ShareTech-Regular.ttf");
}

.font--share--tech {
    font-family: 'Share Tech' !important;
}

@font-face {
    font-family: "Share Tech Mono";
    src: url("/fonts/ShareTechMono-Regular.ttf");
}

.txt--white {
    color: #fff;
}

html {
    font-size: 14px;
    font-family: Montserrat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Outfit;
}

.font--zilla {
    font-family: 'Zilla Slab Highlight' !important;
}

.font-volt {
    font-family: Voltaire;
}


:root {
    --storm--primary: #23BEB0;
    --storm--primary--light: #55D7B3;
    --storm--primary--dark: #1B8F8F;
    --storm--secondary: #EDC043;
    --storm--secondary--light: #F1CF74;
    --storm--secondary--dark: #D5A015;
    --storm--bg--light: #fff;
    --storm--bg--dark: #203341;
    --storm--bg--shadow: #4D4A4A;
}


.font-primary{
    color: var(--storm--primary) !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 1.2em;
}

.btn-primary{
    background-color: var(--storm--primary--dark);
    border-color: var(--storm--primary--dark);
    color: #fff;
}

.btn-primary:hover, .btn-primary:focus{
    background-color: var(--storm--primary);
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #000;
}

.resistorm-navbar {
    background-image: linear-gradient(#333, #000) !important;
}

.resistorm-footer {
    background-image: linear-gradient(#000, #333) !important;
}

.storm--site--nav {
    flex-direction: row !important;
}

.navbar-nav .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.resistorm--brand {
    color: #000 !important;
    background-color: #fff;
    padding: 0;
}

    .resistorm--brand:hover {
        color: var(--storm--primary) !important;
    }

.nav-link {
    font-family: Outfit;
    font-weight: 400;
    color: var(--storm--primary--dark) !important;
    border-radius: 12px;
}

    .nav-link:hover {
        color: var(--storm--primary) !important;
        background-color: rgba(35, 190, 190, 0.1) !important;
    }


.bg--canvas {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: -1;
    background: linear-gradient(#000, #151515);
}


.card{
    background-color: #444;
    color: #fff;
}